.common__section {
  background: linear-gradient(#2c1e12, #50382323),
    url("../img//drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
